
body {
    word-break: break-all;
    font-size: 16px;
}
h1, h2, h3, h4 {
    font-weight: 700;
    font-variant: small-caps;
}
h4 {
    font-size: 16px;
}
button.btn.btn-primary {
    background: #24864f !important;
}
#github .item .item-wrapper:hover {
    box-shadow: 0px 0px 20px 0 rgb(0 0 0 / 32%);
    transform: scale(1.05);
    border-color: #ffff;
    transition: .5s;
}

#github .item .item-wrapper {
    background: #cae2d5;
    padding: 5px;
    text-align: center;
    transition: .5s;
    border: 1px solid transparent;
}
a {
    color: red;
}
.bg-1 {
    background-color: #24864f !important;
}
h1 {
    font-size: 36px;
    line-height: 1.2em;
}
#signin,
#signup {
    margin-top: 60px;
    padding: 27px 0px;
}
#signup .signup-entry {
    background: #83b99b;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 31%);
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 27px;
    text-align: center;
    color: #fff;
}
#signin .sign-entry {
    max-width: 400px;
    background: #24864f;
    border-radius: 20px;
    padding: 20px;
    color: #f1f1f1;
    text-align: center;
}
.wrapper-content {
    background: #fafafa;
}
#signin .signin-entry h1,
#signup .signin-entry h1 {
    text-align: center;
    color: #000;
    font-variant: small-caps;
}
#signin .form-group,
#signup .form-group {
    text-align: left;
}
#signup .asking_user,
#signin .asking_user {
    margin-top: 27px;
    background: #4CAF50;
    color: #ffffff;
    font-weight: 700;
    padding: 5px;
}
img {
    width: 100%;
    height: auto;
}
#github .item {
    width: 20%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    position: relative;
}
#github .item-wrapper .action .view {
    margin-bottom: 5px;
}
#popup-note.close-note {
    display: none;
}
#popup-note.open-note {
    display: block;
}
#popup-note {
    position: fixed;
    z-index: 99;
    background: #ffffff;
    width: 60%;
    border: 5px solid #8ae6ad;
    height: 100%;
    top: 0;
    padding: 20px;
    box-shadow: 0px 0px 200px 50px rgb(0 0 0 / 62%);
    right: 0;
}
.close-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    background: #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.user-dashbord.openit {
    right: -90%;
}
.user-dashbord.closeit {
    right: 0%;
}
.user-dashbord {
    position: absolute;
    top: 0;
    width: 90%;
    background: #f1f1f1;
    height: 100%;
    box-shadow: 0px 0px 180px 0px rgb(0 0 0 / 33%);
    z-index: 8;
    transition: .5s;
}
.sidebar-dashbord .loginoraccount .nav-link {
    width: 150px;
    background: #20844cfa;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.sidebar-dashbord .loginoraccount {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 8;
}
.sidebar-dashbord .loginoraccount>div {
    padding: 0px;
    margin-bottom: 5px;
}
.user-dashbord .user-info {
    position: absolute;
    left: -100px;
    background: #b8cef1;
    width: 100px;
    text-align: center;
}
.user-dashbord .user-info .avatar {
    width: 30px;
    height: 30px;
    background: #1a9612;
    border-radius: 30px;
    left: 35px;
    position: relative;
}
.user-dashbord .user-info .name {
    font-variant: small-caps;
    font-weight: 700;
}
.user-dashbord .user-info .title-dashbord {
    background: #000;
    color: #fff;
    padding: 5px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}
.info-success-signup {
    max-width: 500px;
    background: #dedede;
    padding: 24px;
    border: 2px solid #28a745;
    margin: auto;
}
.hide {
    display: none;
}